<div class="about center">
  <h1>Hi, I am <span class="about__name">Raj Shekhar.</span></h1>
  <h2 class="about__role">A Front end Developer.</h2>
  <p class="about__desc">
    Consectetur neque sed quam molestiae consectetur nesciunt sit alias Vitae
    libero perferendis reprehenderit optio veritatis Accusantium at voluptatum
    cumque temporibus et Explicabo iste porro quis numquam distinctio
    Repellendus adipisci nam perferendis amet eaque hic Voluptates
  </p>

  <div class="about__contact center">
    <a href="https://example.com">
      <span class="btn btn--outline">Resume</span>
    </a>

    <a
      href="https://github.com/rajshekhar26"
      aria-label="github"
      class="link link--icon"
    >
      <i aria-hidden="true" class="fab fa-github"></i>
    </a>

    <a
      href="https://linkedin.com/in/rajshekhar26"
      aria-label="linkedin"
      class="link link--icon"
    >
      <i aria-hidden="true" class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
