<section class="section skills" id="skills">
  <h2 class="section__title">Skills</h2>
  <ul class="skills__list">
    <li class="skills__list-item btn btn--plain">HTML</li>
    <li class="skills__list-item btn btn--plain">CSS</li>
    <li class="skills__list-item btn btn--plain">SCSS</li>
    <li class="skills__list-item btn btn--plain">JavaScript</li>
    <li class="skills__list-item btn btn--plain">TypeScript</li>
    <li class="skills__list-item btn btn--plain">React</li>
    <li class="skills__list-item btn btn--plain">Redux</li>
    <li class="skills__list-item btn btn--plain">Git</li>
    <li class="skills__list-item btn btn--plain">Material UI</li>
    <li class="skills__list-item btn btn--plain">Jest</li>
    <li class="skills__list-item btn btn--plain">Enzyme</li>
    <li class="skills__list-item btn btn--plain">CI/CD</li>
  </ul>
</section>
